{
  "BSC_URL": "https://bsc-dataseed.binance.org/",
  "BSC_DEPLOY_KEY": "your-bsc-mainnet-private-key",
  "BSC_TESTNET_URL": "https://data-seed-prebsc-1-s1.binance.org:8545/",
  "BSC_TESTNET_DEPLOY_KEY": "your-bsc-testnet-private-key",
  "BSCSCAN_API_KEY": "your-bscscan-api-key",
  "ARBITRUM_URL": "https://arb1.arbitrum.io/rpc",
  "ARBITRUM_DEPLOY_KEY": "your-arbitrum-private-key",
  "ARBITRUM_TESTNET_URL": "https://goerli-rollup.arbitrum.io/rpc",
  "ARBITRUM_TESTNET_DEPLOY_KEY": "your-arbitrum-testnet-private-key",
  "ARBISCAN_API_KEY": "your-arbiscan-api-key",
  "AVAX_URL": "https://api.avax.network/ext/bc/C/rpc",
  "AVAX_DEPLOY_KEY": "your-avalanche-private-key",
  "SNOWTRACE_API_KEY": "your-snowtrace-api-key",
  "POLYGON_URL": "https://polygon-rpc.com/",
  "POLYGON_DEPLOY_KEY": "your-polygon-private-key",
  "POLYGONSCAN_API_KEY": "your-polygonscan-api-key",
  "MAINNET_URL": "https://eth-mainnet.g.alchemy.com/v2/your-api-key",
  "MAINNET_DEPLOY_KEY": "your-ethereum-mainnet-private-key",
  "ETHERSCAN_API_KEY": "your-etherscan-api-key"
}

